*.apk
*.class
*.dex
*.iml
*.ipr
*.iws
*.jks
*.keystore
*.log
# *.properties
*.swp
*.txt
*.xcf
*.zip
.DS_Store
.externalNativeBuild/
.gradle/
.idea/
.navigation/
.git-old/
build/
captures/
dist/
hide/
local.properties
accounts.xml
git-notes.txt
google-services.json
release.properties
